.container-one {
    /* Make all div are align here... */
    display: flex;
}

.container-one div {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Make box one width are bigger than other */
.box-1 {

}
.box-2 {

}
.box-3 {

}